actas.odd

<?xml version="1.0" encoding="UTF-8"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0" xml:lang="en">
  <teiHeader>
    <fileDesc>
      <titleStmt>
        <title>ODD de Actas Capitulares Digitales</title>
        <editor>
          <persName>
            <surname>Rojas Castro</surname>
            <forename>Antonio</forename>
          </persName>
        </editor>
      </titleStmt>
      <publicationStmt>
        <publisher>ODD publicada por Proyecto Humboldt Digital (ProHD) por primera vez en enero de
            <date when="2021-01-15">2021</date></publisher>
      </publicationStmt>
      <sourceDesc>
        <bibl>ODD basada en TEI U5 y <ref target="https://www.ediarum.org/docs/ediarum.BASE.manual/index.html"/>ediarum.BASE.manual</bibl>
      </sourceDesc>
    </fileDesc><encodingDesc><appInfo><application ident="RomaJS" version="1.0.0" when="2023-09-05T10:04:28.906Z"><desc>File edited with <ref target="https://github.com/TEIC/romajs">RomaJS</ref></desc></application></appInfo><appInfo><application ident="RomaJS" version="1.0.0" when="2023-11-17T15:57:53.562Z"><desc>File edited with <ref target="https://github.com/TEIC/romajs">RomaJS</ref></desc></application></appInfo><appInfo><application ident="RomaJS" version="1.0.0" when="2023-11-17T16:10:50.680Z"><desc>File edited with <ref target="https://github.com/TEIC/romajs">RomaJS</ref></desc></application></appInfo></encodingDesc>
  </teiHeader>
  <text>
    <body>
      <schemaSpec ident="actas" start="TEI" prefix="tei_" targetLang="es" docLang="es">

        <!-- modules -->
        <moduleRef key="tei"/>
        <moduleRef key="core" include="abbr add choice cit corr date del editor emph expan foreign gap graphic head hi item l label lb lg list mentioned milestone note orig p pb pubPlace publisher q ref reg relatedItem resp respStmt sic title unclear quote"/>
        <moduleRef key="header" include="availability catDesc catRef category creation edition editionStmt fileDesc idno langUsage language licence notesStmt profileDesc publicationStmt sourceDesc teiHeader titleStmt abstract"/>
        <moduleRef key="textstructure" include="TEI body byline closer dateline div opener postscript salute signed text"/>
        <moduleRef key="figures" include="cell figure figDesc row table"/>
        <moduleRef key="linking" include="ab"/>
        
        <moduleRef key="transcr" include="fw space subst supplied metamark"/>
        <moduleRef key="msdescription" include="physDesc msDesc msIdentifier institution collection repository"/>
        
        <moduleRef key="namesdates" include="persName placeName surname forename orgName"/>
        

        <!-- element Specifications -->

        <!-- elements in teiHeader -->
        <!-- required attributes and possible values -->
        <!-- graphic can be also in text -->
        <elementSpec ident="graphic" mode="change">
          <attList>
            <!-- This change is right because in the TEI defaul model @url is required -->
            <attDef ident="url" usage="opt" mode="change"/>
            <!-- This is actually an addition because this element does not admit @hand in the TEI default model -->
            <attDef ident="hand" usage="opt" mode="add">
              <valList type="semi">
                <valItem ident="#author"/>
                <valItem ident="#addressee"/>
                <valItem ident="#unknown"/>
              </valList>
            </attDef>
          </attList>
        </elementSpec>
        <elementSpec ident="idno" mode="change">
          <attList>
            <attDef ident="type" mode="change">
              <valList type="closed" mode="replace">
                <valItem ident="uri"/>
                <valItem ident="URLImages"/>
                <valItem ident="shelfmark"/>
                <valItem ident="URLCatalogue"/>
              </valList>
            </attDef>
          </attList>
        </elementSpec>
        <elementSpec ident="bibl" mode="delete"/>
        <elementSpec ident="change" mode="delete"/>
        <elementSpec ident="correspAction" mode="delete"/>
        <elementSpec ident="date" mode="change">
          <attList>
            <attDef ident="cert" mode="change">
              <!-- Suggestion made by Lou Burnard per email -->
              <datatype>
                <dataRef key="teidata.enumerated"/>
              </datatype>
              <valList type="closed" mode="replace">
                <valItem ident="high"/>
                <valItem ident="low"/>
              </valList>
            </attDef>
            <attDef ident="calendar" mode="change">
              <valList type="closed" mode="replace">
                <valItem ident="#Julian"/>
                <valItem ident="#Gregorian"/>
              </valList>
            </attDef>
          </attList>
        </elementSpec>
        <elementSpec ident="msDesc" mode="change">
          <attList>
            <!-- This attribute cannot be required -->
            <attDef ident="rend" mode="change">
              <valList type="closed" mode="replace">
                <valItem ident="print"/>
                <valItem ident="copy"/>
                <valItem ident="manuscript"/>
                <valItem ident="concept"/>
                <valItem ident="notExtant"/>
              </valList>
            </attDef>
            <attDef ident="select" mode="change">
              <valList type="closed" mode="replace">
                <valItem ident="#this"/>
              </valList>
            </attDef>
          </attList>
        </elementSpec>
        <elementSpec ident="note" mode="change">
          <attList>
            <attDef ident="type" mode="change">
              <valList type="closed" mode="replace">
                <valItem ident="editorial"/>
                <valItem ident="remarkResponsibility"/>
              </valList>
            </attDef>
            <attDef ident="place" mode="change">
              <valList type="closed" mode="replace">
                <valItem ident="left"/>
                <valItem ident="right"/>
                <valItem ident="mTop"/>
                <valItem ident="mBottom"/>
                <valItem ident="inline"/>
              </valList>
            </attDef>
            <attDef ident="hand" mode="change">
              <valList type="open" mode="replace">
                <valItem ident="#author"/>
                <valItem ident="#addressee"/>
                <valItem ident="#unknown"/>
              </valList>
            </attDef>
          </attList>
        </elementSpec>
        <elementSpec ident="quote" mode="change">
          <attList>
            <attDef ident="rendition" usage="req" mode="change">
              <valList type="closed" mode="replace">
                <valItem ident="#u"/>
                <valItem ident="#i"/>
              </valList>
            </attDef>
          </attList>
        </elementSpec>
        <elementSpec ident="ref" mode="change">
          <attList>
            <attDef ident="type" mode="change">
              <valList type="closed" mode="replace">
                <valItem ident="hasAttachment"/>
                <valItem ident="attachedTo"/>
                <valItem ident="next"/>
                <valItem ident="previous"/>
              </valList>
            </attDef>
            <attDef ident="target" usage="req" mode="change"/>
          </attList>
        </elementSpec>
        <elementSpec ident="revisionDesc" mode="delete"/>


        <!-- content and sequence of elements -->
        <elementSpec ident="abstract" mode="change">
          <content>
            <elementRef key="p" minOccurs="1" maxOccurs="unbounded"/>
          </content>
          <attList>
            <attDef ident="xml:lang" mode="change" usage="req">
              <valList type="closed" mode="replace">
                <valItem ident="de"/>
                <valItem ident="es"/>
                <valItem ident="en"/>
              </valList>
            </attDef>
          </attList>
        </elementSpec>

        <elementSpec ident="language" mode="change">
          <attList>
            <attDef ident="ident" mode="change" usage="req">
              <valList type="closed" mode="replace">
                <valItem ident="de"/>
                <valItem ident="es"/>
                <valItem ident="en"/>
                <valItem ident="fr"/>
              </valList>
            </attDef>
          </attList>
        </elementSpec>


        <!-- elements in text -->
        <elementSpec ident="lb" mode="change">
          <attList>
            <attDef ident="break" mode="change">
              <valList type="closed" mode="replace">
                <valItem ident="no"/>
              </valList>
            </attDef>
          </attList>
        </elementSpec>
        <!--<elementSpec ident="pb" mode="change"/>-->
        
        <elementSpec ident="space" mode="change">
          <attList>
            <attDef ident="unit" usage="req" mode="change">
              <valList type="closed" mode="replace">
                <valItem ident="lines"/>
                <valItem ident="chars"/>
                <valItem ident="words"/>
              </valList>
            </attDef>
            <attDef ident="quantity" usage="req" mode="change"/>
          </attList>
        </elementSpec>
        
        <!--<elementSpec ident="row" mode="change">
          <attList>
            <attDef ident="role" mode="change" usage="opt">
              <valList type="closed" mode="replace">
                <valItem ident="label"/>
              </valList>
            </attDef>
          </attList>
        </elementSpec>-->
        <elementSpec ident="cell" mode="change">
          <attList>
            <attDef ident="rendition" mode="change">
              <valList type="closed" mode="replace">
                <valItem ident="#right"/>
              </valList>
            </attDef>
          </attList>
        </elementSpec>
        <elementSpec ident="hi" mode="change">
          <attList>
            <attDef ident="rendition" usage="req" mode="change">
              <valList type="closed" mode="replace">
                <valItem ident="#u"/>
                <valItem ident="#uu"/>
                <valItem ident="#mMM"/>
                <valItem ident="#sup"/>
                <valItem ident="#i"/>
                <valItem ident="#b"/>
              </valList>
            </attDef>
          </attList>
        </elementSpec>
        <elementSpec ident="add" mode="change">
          <attList>
            <attDef ident="place" usage="req" mode="change">
              <valList type="closed" mode="replace">
                <valItem ident="superlinear"/>
                <valItem ident="sublinear"/>
                <valItem ident="intralinear"/>
                <valItem ident="across"/>
                <valItem ident="left"/>
                <valItem ident="right"/>
                <valItem ident="mTop"/>
                <valItem ident="mBottom"/>
              </valList>
            </attDef>
          </attList>
        </elementSpec>
        <elementSpec ident="del" mode="change">
          <attList>
            <attDef ident="rendition" usage="req" mode="change">
              <valList type="closed" mode="replace">
                <valItem ident="#ow"/>
                <valItem ident="#s"/>
                <valItem ident="#erased"/>
              </valList>
            </attDef>
          </attList>
        </elementSpec>
        <elementSpec ident="figure" mode="change">
          <attList>
            <attDef ident="facs" usage="req" mode="change"/>
            <attDef ident="hand" usage="req" mode="change"/>
          </attList>
        </elementSpec>
        <elementSpec ident="unclear" mode="change">
          <attList>
            <attDef ident="reason" usage="req" mode="change">
              <valList type="closed" mode="replace">
                <valItem ident="illegible"/>
                <valItem ident="covered"/>
              </valList>
            </attDef>
            <attDef ident="cert" usage="req" mode="change">
              <valList type="closed" mode="replace">
                <valItem ident="low"/>
                <valItem ident="high"/>
              </valList>
            </attDef>
          </attList>
        </elementSpec>
        <elementSpec ident="gap" mode="change">
          <attList>
            <attDef ident="quantity" usage="req" mode="change"/>
            <attDef ident="reason" usage="req" mode="change">
              <valList type="closed" mode="replace">
                <valItem ident="lost"/>
                <valItem ident="illegible"/>
                <valItem ident="covered"/>
                <valItem ident="empty"/>
                <valItem ident="fm"/>
                <valItem ident="insignificant"/>
              </valList>
            </attDef>
            <attDef ident="unit" usage="req" mode="change">
              <valList type="closed" mode="replace">
                <valItem ident="chars"/>
                <valItem ident="lines"/>
                <valItem ident="pages"/>
                <valItem ident="words"/>
              </valList>
            </attDef>
          </attList>
        </elementSpec>
        <elementSpec ident="supplied" mode="change">
          <attList>
            <attDef ident="cert" usage="req" mode="change">
              <valList type="closed" mode="replace">
                <valItem ident="low"/>
                <valItem ident="high"/>
              </valList>
            </attDef>
            <!-- This is not necessary for now -->
            <!--<attDef ident="reason" mode="delete"/>-->
          </attList>
        </elementSpec>
        <elementSpec ident="seg" mode="delete"/>
        <elementSpec ident="anchor" mode="delete"/>
        <elementSpec ident="foreign" mode="change">
          <attList>
            <attDef ident="xml:lang" usage="req" mode="change">
              <valList type="closed" mode="replace">
                <valItem ident="gr"/>
                <valItem ident="la"/>
                <valItem ident="he"/>
                <valItem ident="de"/>
                <valItem ident="fr"/>
                <valItem ident="en"/>
                <valItem ident="ru"/>
                <valItem ident="es"/>
              </valList>
            </attDef>
          </attList>
        </elementSpec>
        <elementSpec ident="rs" mode="delete"/>

      <moduleRef key="gaiji" include="g"/></schemaSpec>
    </body>
  </text>
</TEI>